    $silver-blue = #0d6efd;
    $silver-indigo= #6610f2;
    $silver-purple= #6f42c1;
    $silver-pink= #d63384;
    $silver-red= #dc3545;
    $silver-orange= #fd7e14;
    $silver-yellow= #ffc107;
    $silver-green= #198754;
    $silver-teal= #20c997;
    $silver-cyan= #0dcaf0;
    $silver-white= #fff;
    $silver-gray= #6c757d;
    $silver-gray-dark= #343a40;
    $silver-primary= #0d6efd;
    $silver-secondary= #6c757d;
    $silver-success= #198754;
    $silver-info= #0dcaf0;
    $silver-warning= #ffc107;
    $silver-danger= #dc3545;
    $silver-light= #f8f9fa;
    $silver-dark= #212529;

.silver-primario {
    background-color: #0d6efd!important;
}
.silver-secundario{
    background-color: #6c757d!important;
}
.silver-correcto {
    background-color: #198754!important;
}
.silver-peligro {
    background-color: #dc3545!important;
}
.silver-alerta {
    background-color: #ffc107!important;
}
.silver-informacion {
    background-color: #0dcaf0!important;
}
.silver-luz {
    background-color: #f8f9fa!important;
}
.silver-oscuro {
    background-color: #212529!important;
}

.silver-gradient{
    background: linear-gradient(to bottom, rgba(115,124,131,0.1) 0%, rgba(127,134,141,0.5) 100%);
    } 

.text-dark {
    color: #212529!important;
}
.text-white {
    color: #fff!important;
}

