.cat-row, .row-cat{
    display: flex;
    flex-wrap: wrap; 
    }
.cat-row-nw{
    display: flex;
    flex-wrap: nowrap; 
    }

    $colum-u = 12

    for col in $colum-u..1  
        .colum-u-{col}
            width (100% / $colum-u) * col
          
@media (max-width: 768px)

    $colum-mv = 12

    for col in $colum-mv..1  
        .colum-mv-{col}
            width (100% / $colum-mv) * col
 


@media (min-width: 768px)

    $colum-pc = 12

    for col in $colum-pc..1  
        .colum-pc-{col}
            width (100% / $colum-pc) * col