.tester,
.tester2,
.tester3,
.tester4,
.tester5,
.tester6 {
    box-sizing: border-box
}

table {
    border-collapse: collapse;
    border-spacing: 0
}
.tester {
    border: 1px solid #f00
}
.tester2 {
    border: 1px solid #00f
}

.tester3 {
    background-color: #8dffc2;
    border: 1px solid #92d0ae
}
.tester4 {
    background-color: #568ff8;
    border: 2px solid #00f
}
.tester5 {
    background-color: #9f0303;
    border: 2px solid #f00
}